body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #fff;
	background: url(../img/sublighter.png) no-repeat 50% 0% #849d8f;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}

/* common styles start */
/* links' style */
.linkable {
text-decoration: underline !important;
text-decoration-color: #fff ;
}
.linkable:hover {
	text-decoration: underline !important;
text-decoration-color: rgb(247, 183, 183) ;
color: rgb(247, 183, 183);
cursor: pointer;
}
.linkable:active {
	text-decoration: underline !important;
text-decoration-color: rgb(247, 183, 183) ;
color: rgb(247, 183, 183);
cursor: pointer;
}

/* common red button style */
.btn-red {
	display: block;
	background-color: #ec583c;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 2px 4px #31120c;
	color: inherit;
	box-shadow: 0 2px 5px #31120c;
}
				.btn-red:hover {
					background-color: #e98b78;
				}
				.btn-red:active {
					background-color: #ec583c;
					box-shadow: inset 0 2px 5px #31120c;
				}

/* common styles end */

.container {
	width: 1146px;
	margin: 0 auto;
}

.main-header {
	margin-top: 5px;
}

.main-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 64px;
}

.main-header__logo {
	flex-basis: 154px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 20px;
}

.main-header__menu {
	flex-basis: 412px;
	flex-grow: 1;
	flex-shrink: 0;
}

.menu__list {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu__item {
	padding: 0;
	margin: 0;
	position: relative;
	border-bottom: 10px solid transparent;
}
.menu__item:hover > .menu__item__submenu {
	display: block;
	overflow: hidden;
}

.menu__item > .menu__item__submenu {
	position: absolute;
	left: -5px;
	top: 40px;
	z-index: 10;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	background-color: rgb(238, 235, 235);
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 #333;
	display: none;
}
.submenu__item {
	padding: 10px;
}
				.submenu__item:hover {
					background-color: #dbbab3;
				}
				.submenu__item:active {
					background-color: #d8725d;
				}
				.submenu__item:first-child:hover {
					background-color: rgb(238, 235, 235)
				}
				.submenu__item:first-child:active {
					background-color:rgb(238, 235, 235)
				}

.submenu__item:first-child {
	font-weight: 600;
	border-bottom: 1px solid #849d8f;
}
.submenu__item a {
	text-decoration: none;
	color: #333;
	white-space: nowrap;
}
.menu__item:last-child {
	margin-right: 0;
}
.menu__item__btn {
	display: block;
	height: 32px;
	border-radius: 16px;
	margin-right: 0;
	background-color: transparent;
	text-align: center;
	color: inherit;
	line-height: 32px;
	vertical-align: middle;
	width: auto;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	position: relative;
}
				.menu__item__btn:hover {
					background-color: rgb(238, 235, 235);
					text-decoration: none;
					color: #333;
					font-weight: 600;
				}
				.menu__item__btn:active {
					background-color: rgb(238, 235, 235);
					text-decoration: none;
					color: #333;
					font-weight: 600;
					box-shadow: inset 0 1px 4px 0 #333;
				}
.menu__item__btn::after {
	content:"";
	display: block;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.747);
}

.main-header__buttons {
	flex-basis: 267px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-left: 28px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.main-header__btn {
	height: 32px;
	border-radius: 16px;
	margin-left: 10px;
	background: rgba(255, 255, 255, 0.3);
	text-align: center;
 text-decoration: none;
	color: inherit;
	line-height: 32px;
	vertical-align: middle;
	width: auto;
	text-align: center;
	font-size: 14px;
	padding-left: 45px;
	padding-right: 15px;
}
.main-header__btn-find {
	margin-left: 0;
	width: 32px;
	padding: 0;
}
				.main-header__btn:hover {
					background: rgba(255, 255, 255, 1);
					color: #333;
					font-weight: 600;
				}


/* main content part */
.main-content__slider {
	width: 100%;
	min-height: 575px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
.slider__breadcrumbs {
	flex-basis: 980px;
	flex-grow: 0;
	flex-shrink: 0;
	align-self: flex-end;
	padding-bottom: 60px;
}
.breadcrumbs__item {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 2px solid #fff;
		border-radius: 50%;
		margin-right: 8px;
		align-self: flex-end;
		margin-bottom: 50px;
}

.slider__proposal-1,
.slider__proposal-2,
.slider__proposal-3   {
	flex-basis: 830px;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	background: url(../img/ice-cream-1.png) no-repeat 15% 50%,
	            url(../img/ice-cream-2.png) no-repeat 85% 50%;
}
.slider__proposal-2 {
	background: url(../img/ice-cream-1.png) no-repeat 85% 50%,
	            url(../img/ice-cream-2.png) no-repeat 15% 50%;
}
.slider__proposal-3 {
	background: url(../img/ice-cream-1.png) no-repeat 100% 100%,
	            url(../img/ice-cream-2.png) no-repeat 0% 0%,
	            url(../img/ice-cream-2.png) no-repeat 50% 50%;
}

input[type="radio"] {
	display: none;
}

#slider-radio-1:checked ~ label[for="slider-radio-1"] {
	background-color: #fff;
}
#slider-radio-2:checked ~ label[for="slider-radio-2"] {
	background-color: #fff;
}
#slider-radio-3:checked ~ label[for="slider-radio-3"] {
	background-color: #fff;
}
.slider__proposal-1,
.slider__proposal-2,
.slider__proposal-3 {
	display: none;
}

#slider-radio-1:checked ~ .slider__proposal-1 {
	display: flex;
}
#slider-radio-2:checked ~ .slider__proposal-2 {
	display: flex;
}
#slider-radio-2:checked ~ .slider__proposal-1 {
	display: none;
}
#slider-radio-3:checked ~ .slider__proposal-3 {
	display: flex;
}
#slider-radio-3:checked ~ .slider__proposal-1 {
	display: none;
}



.slider__proposal__title {
	font-size: 60px;
	text-align: center;
	margin: 280px 0 40px;
	text-shadow: 0 0 2px #474747ab;
}

.slider__btn {
	width: 280px;
	height: 64px;
	border-radius: 32px;
	line-height: 64px;
	font-size: 32px;
}


.slider__info {
	flex-basis: 160px;
	flex-grow: 0;
	flex-shrink: 0;
	align-self: flex-start;
	text-align: right;
}
.slider__info__working-time {
	font-size: 14px;
	margin: 0 0 8px 0;
}
.slider__info__phone-number {
	font-size: 22px;
	text-decoration: none;
	color: inherit;
}

.main-content__proposals {
	min-height: 229px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.main-content__proposals__item {
	flex-basis: 520px;
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 15px;
	padding: 20px;
	position: relative;
}
.proposals__item__title {
	font-size: 35px;
	padding: 0;
	margin: 0;
	text-shadow: 0 2px 4px #31120c;
}
.main-content__proposals__item-1 {
	background: url(../img/raspberry.png) no-repeat 50% 50%, #b62173;
}
.main-content__proposals__item-2 {
	background: url(../img/chocolate.png) no-repeat 50% 50%,#3e2419;
}
.proposals__item__btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 0 20px;
	height: 46px;
	border-radius: 23px;
	line-height: 46px;
	font-size: 18px;
	font-weight: 700;
}

.main-content__popular-items {
	min-height: 334px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	flex-wrap: wrap;
}
.popular-items__img {
	border-radius: 50%;
}

.popular-items__item {
	flex-basis: 277px;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 4px;
	position: relative;
	text-align: center;
	border-radius: 15px;
	
}
.popular-items__item:hover {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 5px rgb(138, 134, 134);
}
.popular-items__item:hover > .popular-items__img {
	box-shadow: 0 0 55px rgb(255, 255, 255);
}
.popular-items__item:hover::after {
	display: none;
}
.popular-items__item:hover > .popular-items__price {
	text-shadow: #111 2px 2px 10px;
}

.popular-items__item::after {
	content:"";  
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 61px;
	height: 61px;
	border-radius: 50%;
	background: url(../img/hit.png) no-repeat 50% 50% #fff;
}
.popular-items__item-1::before {
	background: #fcd8a6;
}
.popular-items__item-2::before {
	background: #a55d4c;
}
.popular-items__item-3::before {
	background: #fc9dbe;
}
.popular-items__item-4::before {
	background: #d4a86e;
}

.popular-items__price {
	margin: 0;
	position: absolute;
	left: 5px;
	top: 200px;
	font-size: 20px;
	font-weight: 700;
	text-shadow: #111 1px 1px 2px;
}
.popular-items__price span {
	font-size: 40px;
}
.popular-items__description {
	margin: 0;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
}

.popular-items__btn {
	display: none;
}
.popular-items__item:hover .popular-items__btn {
	padding: 0 20px;
	height: 46px;
	border-radius: 23px;
	line-height: 46px;
 font-size: 18px;
	font-weight: 700;
	color: #fff;
	margin: 20px;
	display: block;
}

.main-content__features {
	min-height: 270px;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 40px;
	background: url(../img/waffles-bg.png) repeat-y 50% 50%, #ebdfc6;
	color: #111;
}
.features__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.features__title {
	font-size: 24px;
	line-height: 1.25;
	margin: 0 0 10px;
	font-weight: 700;
}
.features__items__item {
	flex-basis: 485px;
	flex-grow: 0;
	flex-shrink: 0;
	padding-left: 55px;
	padding-top: 20px;
	font-size: 16px;
	position: relative;
	margin: 0 0 10px;
}
.features__items__item::before {
	content:"";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 45px;
	border: 2px solid #111;
	border-radius: 50%;
}
.features__items__item:hover::before {
	background-color: #ececec;
	transform: scaleX(-1);
	transition: transform .2s ease-in 0.2s;
}

.features__items__item-1::before {
	background: url(../img/feature-1-logo.png) no-repeat 50% 50%;
}
.features__items__item-2::before {
	background: url(../img/feature-2-logo.png) no-repeat 50% 50%;
}
.features__items__item-3::before {
	background: url(../img/feature-3-logo.png) no-repeat 50% 50%;
}
.features__items__item-4::before {
	background: url(../img/feature-4-logo.png) no-repeat 50% 50%;
}

.main-content__blog {
	min-height: 220px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	position: relative;
}
.blog__news,
.blog__subscribe {
	flex-basis: 520px;
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 15px;
	padding: 20px;
}
.blog__news {
	background: url(../img/strawberry-bg.png) no-repeat 50% 50% #fff;
	color: #111;
}
.blog__news__description {
	margin: 10px 0 15px;
	font-size: 16px;
	line-height: 22px;
}
.blog__news__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-decoration: underline;
	text-decoration-color: #111;
	color: #111;
	display: block;
	width: 280px;
}

.blog__subscribe {
	background: url(../img/blog-subscribe-bg.png) no-repeat 50% 50%,
													url(../img/blog-subscribe-bg-2.png) no-repeat 50% 50% #f7f6f3;
	color: #111;
	padding: 35px 25px;
	flex-basis: 510px;
	position: relative;
}
.blog__subscribe__description {
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}
.subscribe__form {
	position: absolute;
	bottom: 35px;
	left: 25px;
	display: flex;
	justify-content: space-between;
	width: 510px;
}
.subscribe__form input[type="email"] {
	width: auto;
	-webkit-appearance: none;
	border: 1px solid #777;
	border-radius: 5px;
	padding: 10px;
	height: 32px;
	flex-grow: 1;
	flex-basis: 368px;
	margin-right: 30px;
}
.subscribe-btn {
	padding: 0 20px;
	height: 46px;
	border-radius: 23px;
	border: none;
	-webkit-appearance: none;
	line-height: 46px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	}

.main-content__contact-us {
	min-height: 430px;
}

.contact-us__contacts {
	min-height: 245px;
	width: 243px;
	border-radius: 10px;
	padding: 30px;
	position: absolute;
	right: 0;
	bottom: -440px;
	background: #fefefe;
	color: #111;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contacts__adress,
.contacts__phone {
	font-size: 15px;
}
.contacts__adress p,
.contacts__phone p {
	margin: 0;
}
.contacts__adress .bold,
.contacts__phone .bold {
	font-size: 18px;
	font-weight: 700;
	margin: 5px 0;
	display: block;
	line-height: 1.2;
}
.contacts__phone a {
	text-decoration: none;
	color: inherit;
}
.contacts__btn {
	padding: 0 20px;
	height: 46px;
	border-radius: 23px;
	line-height: 46px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}
.map {
	z-index: -100;
	width: 100%;
	border: none;
}


/* footer content part */
.main-footer {
	margin-top: 20px;
	margin-bottom: 30px;
}
.main-footer__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.main-footer__socials {
	flex-basis: 267px;
	flex-grow: 1;
	flex-basis: 0;
	margin-right: 20px;
	display: flex;
}
.socials {
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 2px solid rgb(228, 224, 224);
	position: relative;
	background: url(../img/facebook.png) no-repeat 50% 50%;
	opacity: 0.4;
	margin-right: 10px;
}
.socials:last-child {
	margin: 0;
}
.socials-tw {
	background: url(../img/twitter.png) no-repeat 50% 50%;
}
.socials-in {
	background: url(../img/instagram.png) no-repeat 50% 50%;
}
.socials-vk {
	background: url(../img/vk.png) no-repeat 50% 50%;
}
.socials:hover {
	filter: brightness(2);
	opacity: 1;
}


.main-footer__documents {
	flex-grow: 0;
	display: flex;
	flex-basis: 560px;
	justify-content: center;
}
.documents__column {
	flex-basis: 170px;
	flex-grow: 0;
	text-align: left;
	display: flex;
	flex-direction: column;
}
.documents {
	font-size: 13px;
	text-decoration: none;
	color: inherit;
	line-height: 1.7;
	position: relative;
	}
	.documents::before {
		content:"";
		display: none;
		position: absolute;
		width: 15px;
		height: 13px;
		left: -20px;
		top: 5px;
		background: url(../img/heart.png) no-repeat 50% 50%;
	}
					.documents:hover::before {
						display: block;
					}

.main-footer__copyright {
	flex-basis: 230px;
	flex-grow: 0;
	flex-basis: 0;
	padding-left: 40px;
	margin-left: 20px;
}
.copyright__text {
	font-size: 12px;
	margin: 0;
	white-space: nowrap;
}